
.header
{
    width: 100%;
    height: 100px;
    background-color: rgb(18, 18, 119);

}
.heading
{
    font-size: 44px;
    color: aliceblue;
    
    
}
.logo
{
    width: 50%;
    height: 100px ;
    float: left;
    padding-top: 30px;


}
.login
{
    width: 50%;
    height: 100px;
    float: left;
    
}
.log
{
    font-size: 50px;
    color: aliceblue;
    font-weight: bolder;
    text-decoration-line: none;
        font-family: Helvetica, Arial, sans-serif;
        margin-left: 100px;
        margin-top: 50px;
    }
.login-data
{
    margin-left: 150px;
    padding-top: 20px;
    margin-left: 10%;
    


}
label
{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
.forgot
{
    color: white;
    text-decoration:none;
    font-family: Helvetica, Arial, sans-serif;

}
.login-button
{
   background-color: rgb(18, 18, 119);
   color: white;
   font-family: Helvetica, Arial, sans-serif;
   size: 100px;
}
.container
{
    background-color: rgb(245, 240, 231);
    width: 100%;
    height: 600px;
    
}
.cont-right
{
    width: 50%;
    height: 600px;
    



}

.cont-left
{
    width: 45%;
    height: 600px;
    margin-left:10px;
float: left;
}
 
.image
{
width: 500px;
height: 450px;
margin-top: -1200px;
margin-bottom: 170px;
margin-right: 45px;
margin-left: 100px;
}

.create
{
    font: size 100px;;
    font-family: Helvetica, Arial, sans-serif;
}
.sub
{
    color: black;
    font-weight: 100;
}
.mobile
{
 width: 167%;
 height: 30px;
}
.name
{
    height: 30px;
}
.submit
{
    width: 100px;
    height: 40px;
    font-size: x-large;
    background-color: green;
    color: white;
    font-family: Helvetica, Arial, sans-serif;

}
.last
{
    
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
     color: black;
     font-weight: bolder;
}
.credit
{
    width: 100%;
    height: 135px;
}